// Created by: Jenn Alarcon 3/30
.nav-container  {
  margin: 0;
  padding: 0;
  margin: auto;
  width: 50%;
  background-color: none;
  


}

nav {
  margin: 50px;
}

nav a {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;

  text-decoration: none;
  color:#a9a9a9;
  font: 25px sans-serif;
  text-transform: uppercase;
}

nav a:last-child {
  border-right: none;
}

nav a:hover {
  font-weight: bold;
  color: #ff3b3f;
}

nav a.last{
  border-right: none;
}

nav .dropdown {
  position: absolute;
  display: inline-block;
}

nav .dropdown-content {
  display: none;
  position: absolute !important;
  padding: 0px;
  text-align: left;
  min-width: 200px;
  z-index:5;

}

nav .dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  background-color: inherit;
  text-transform:none;

}

.dropdown-content a:hover {
  font-weight: bold;
  color: #ff3b3f;
}

.dropdown:hover .dropdown-content {
  margin-top: 30px;
  font-color:  #45708b;
  background-color: rgba(194,235,239,0.76);
  font-family: 'Signika', sans-serif;
  display: block;
}

.dropdown-content a{
  border-right: none;
}
