html, body, div, span, p, a, img, ul, li{
  margin:0;
  padding:0;
  border:0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: #efefef;


}

h1,h2,h3,h4,p{
  padding: 0px;
}

img.resize{
    width:540px; /* you can use % */
    height: auto;
}


div.example{
  border:1px solid black;
  margin: 10px;
  text-align: center;
  padding: 5px;
}
* .code{
  font-family: "Andale Mono", AndaleMono, monospace !important;
  background-color: rgba(194,235,239,0.76) !important;
  text-align: left !important;
  padding:0px !important;
  margin: 10px;

}

.code .comment{
  background-color: inherit;
  font-color: gray;
}


.container p {
  font-family: 'Signika', sans-serif;

}

.container {
  position: absolute;
  margin-top: 80px;
  margin-left: 100px;

  font-family: 'Signika', sans-serif !important;
  font-weight: 300;
  line-height: 55px;

  background-color: transparent;
  margin-right: 100px;

}
