<!-- Created: Jenn Alarcon 3/30 -->
<link rel="stylesheet" type="text/css" href="stylesheets/nav.css">

<div class = "nav-container">
  <nav>
	    <a href="#">Home</a>
	    <a href="#">About</a>
	    <a href="#">Getting Started</a>

	    <div class = "dropdown">
	      <a href="#">TUTORIAL</a>
	      	<div class="dropdown-content">
	      	   <a href="#">Part 1: Basics & Something</a>
	      	   <a href="#">Part2:  </a>
	      	   <a href="#">Part 3: Putting it all together </a>
	      	 </div>
	      </div>
	</nav>
</div>
