<!-- Created: Jenn Alarcon 3/30 -->
<link rel="stylesheet" type="text/css" href="stylesheets/nav.css">

<div class = "nav-container">
  <nav>
  	<div>
	    <a href="index.html">Home</a>
	</div>
	<div>
	    <a href="getstarted.html">Getting Started</a>
	</div>
	<div>
	    <div class = "dropdown">
	      <a class = "last" ref="#">TUTORIAL</a>
	      	<div class="dropdown-content">
	      	   <a href="part1.html">Part 1: Maneuvering the DOM</a>
	      	   <a href="part2.html">Part 2: Modifying the DOM </a>
	      	   <a href="part3.html">Part 3: Events in the DOM </a>
              <a href="part4.html">Part 4: Styling the DOM </a>
              <a href="part5.html">Part 5: AJAX </a>
	      	 </div>
	      </div>
	</div>

	</nav>
</div>
