
<div>
  <h2>Introduction</h2>

  <h3>Author By Tony Su</h3>

  <h3>What is jQuery</h3>

  <p>jQuery is a free, open-source and cross-platform JavaScript library. It is the most widely deployed JavaScript library in the world.</p>

  <h3>Why jQuery</h3>

  <p>jQuery has the following advantages:  </p>

  <ul class = "withBullets">
    <li>It is free</li>
    <li>Its size is small. It is less than 1 MB.</li>
    <li>It offers many great features that simplify client-side developing. These features include animation, modifying, and traversing and styling the DOM.</li>
    <li> It is cross-platform. It eliminates the cross-browser inconsistency that may happen to Javascript.</li>
    <li> Extensibility: You can easily add new methods and re-use them as a plugin. </li>
  </ul>

  <h3>Who created jQuery</h3>

  <p>jQuery was originally released in January 2006 by John Resig, who is now a staff engineer at Khan Academy.  </p>

  <p><img src="http://ejohn.org/files/jeresig-2016.200.jpg"></p>
  </body>
</div>
