
<div>
  <h2> Styling <h2>

    <h3> add/remove class </h3>
    <div class = "code">
      code add/remove here
    </div>

    <h3> Basic Effects </h3>
    <p>
      <p> Hide </p>
      <p> ....about... </p>
      <div class = "code">
        example code for slide here
      </div>

      <p> Show </p>
      <div class = "code">
        code fade here
      </div>

      <p> Toggle <p>
        <div class = "code">
          code for toggle here
        </div>
      </p>

      <h3> Think outside the box </h3>
      <p>
      <p> Animate</p>
      <div class = "code">
        code here
      </div>

      <p> Delay</p>
      <div class = "code">
        code  here
      </div>

      <p> Finish</p>
      <div class = "code">
        code here
      </div>
      <p> Stop</p>
      <div class = "code">
        code here
      </div>
    </p>

      <h3> Fading</h3>
    <p>

      <p> fadeIn</p>
      <div class = "code">
        code here
      </div>

      <p> fadeOut</p>
      <div class = "code">
        code here
      </div>

      <p> fadeTo</p>
      <div class = "code">
        code here
      </div>
      <p> fadeToggle</p>
      <div class = "code">
        code here
      </div>
    </p>

      <h3> Sliding</h3>
      <p>
      <p> slide Down</p>
      <div class = "code">
        code here
      </div>

      <p> slide toggle</p>
      <div class = "code">
        code here
      </div>

      <p> slide up</p>
      <div class = "code">
        code here
      </div>
    </p>

    </div>
