
<div>
<h2> Styling <h2>

<h3> Basic Effects </h3>
<p> Slide <br> about slide</p>

<div class = "code">
  example code for slide here
</div>

<p> Fade </p>
<p> about fade</p>
<div class = "code">
  code fade here
</div>

<h3> Toggle </h3>
<p> about toggle</p>
<div class = "code">
  code for toggle here
</div>

<h3> animate class </h3>
<p> about animate</p>
<div class = "code">
  code add/remove here
</div>

<h3> add/remove class </h3>
<div class = "code">
  code add/remove here
</div>

</div>
