<div>
  <body>

  <h2>Modifying the DOM<br>
  <span class="author">Authored by Tony Su</h2>



  <p>The jQuery library stores an extensive amount methods for modifying the DOM to make accessing and modifying the elements and things like their attributes relatively simple.</p>

  <h3>Get and Set Content Methods: text(),html(),val() and attr()</h3>

  <p>Four common jQuery methods for modifying the DOM are:</p>

  <ul class = "withBullets">
    <li><strong>text()</strong>: Sets or returns the text content of selected elements</li>
    <li><strong>html()</strong>: Sets or returns the content of selected elements (including HTML markup)</li>
    <li><strong>val()</strong>: Sets or returns the value of form fields</li>
    <li><strong>attr()</strong>: Sets or returns the attribute value</li>
  </ul>

  <p>Here are some examples of how to get content with the jQuery text() and html() methods:</p>

  <div class="code">
    HTML:<br>
    &lt;p id="test"&gt;This is some &lt;b&gt;example&lt;/b&gt; on jQuery method.&lt;/p&gt;<br>
    jQuery:<br>
    alert($("#test").text());<br>
    alert($("#test").html());
  </div>

  <p>The window alert will show the following:</p>

  <div class="code">
    This is some example on jQuery method.<br>
    This is some &lt;b&gt;example&lt;/b&gt; on jQuery method.
  </div>

  <p>Here is an example of how to get the value of input field with val() method:</p>

  <div class="code">
    HTML:<br>
    &lt;p&gt;Name: &lt;input type="text" id="test" value="Tony Su"&gt;&lt;/p&gt;<br>
    jQuery:<br>    
    alert($("#test").val());
  </div>

  <p>The window alert will show <span class="code">Tony Su</span>.<br>
    Here are some examples of how to set content with text(), html() and val():</p>

  <div class="code">
    HTML:<br>
    &lt;p id="test1"&gt;This is a example.&lt;/p&gt;<br>
    &lt;p id="test2"&gt;This is another example.&lt;/p&gt;<br>
    &lt;p&gt;Input field: &lt;input type="text" id="test3" value="Tony Su"&gt;&lt;/p&gt;<br>
    jQuery:<br>
    $("#test1").text("Hello world!");<br>
    $("#test2").html("&lt;b&gt;Hello world!&lt;/b&gt;");<br>
    $("#test3").val("Sunny Patel");<br>
  </div>

  <p>After the execution of the methods, here is the resulting HTML:</p>

  <div class="code">
    &lt;p id="test1"&gt;Hello world!&lt;/p&gt;<br>
    &lt;p id="test2"&gt;&lt;b&gt;Hello world!&lt;/b&gt;&lt;/p&gt;<br>
    &lt;p&gt;Input field: &lt;input type="text" id="test3" value="Sunny Patel"&gt;&lt;/p&gt;<br>
  </div>

  <p>Here is an example of how to get the value of the href attribute in a link:</p>

  <div class="code">
  HTML:<br>
  &lt;p&gt;&lt;a href="https://www.youtube.com" id="yt"&gt;Youtube&lt;/a&gt;&lt;/p&gt;<br>
  jQuery:<br>
  alert($("#yt").attr());
  </div>

  <p>The window alert will show <span class="code">https://www.youtube.com</span>.</p>

  <p>Here is an example of how to get the value of the href attribute in a link:</p>

  <div class="code">
    HTML:<br>
    &lt;p&gt;&lt;a href="https://www.google.com" id="yt"&gt;Youtube&lt;/a&gt;&lt;/p&gt;<br>
    jQuery:<br>
    $("#yt").attr("href", "https://www.youtube.com");
  </div>

  <p>This method allows you to change the value of href attribute to <span class="code">https://www.youtube.com</span>.<br>
  You can also set multiple value of attributes at the same time:</p>

  <div class="code">$("#yt").attr({
            "href" : "https://www.youtube.com",
            "id" : "youtube"
        });
  </div>

  <h3 >Add New Content: append(), prepend(),after() and before()</h3>

  <p>These four jQuery methods are used to add new content:  </p>

  <ul class = "withBullets">
    <li><strong>append()</strong> - Inserts content <strong>at the end of</strong> the selected elements<br></li>
    <li><strong>prepend()</strong> - Inserts content <strong>at the beginning of</strong> the selected elements<br></li>
    <li><strong>after()</strong> - Inserts content <strong>after</strong> the selected elements<br></li>
    <li><strong>before()</strong> - Inserts content <strong>before</strong> the selected elements</li>
  </ul>

  <p>Here is an example of <strong>append()</strong> and <strong>prepend()</strong>:</p>

  <div class="code">
    HTML:<br>
    &lt;p&gt;This is an example.&lt;/p&gt;<br>
    &lt;ol&gt;<br>
    &lt;li&gt;example 1&lt;/li&gt;<br>
    &lt;li&gt;example 2&lt;/li&gt;<br>
    &lt;li&gt;example 3&lt;/li&gt;<br>
    &lt;/ol&gt;<br>
    jQuery:<br>
    $("p").append(" &lt;b&gt;Another Example&lt;/b&gt;");<br>
    $("ol").prepend("&lt;li&gt;Tony Su&lt;/li&gt;");<br>
    </div>

  <p>Here is the result:</p>

  <div class="code">
    &lt;p&gt;This is an example.&lt;b&gt<br>
    Another Example&lt;/b&gt;&lt;/p&gt;<br>
    &lt;ol&gt;<br>
    &lt;li&gt;Tony Su&lt;/li&gt;<br>
    &lt;li&gt;example 1&lt;/li&gt;<br>
    &lt;li&gt;example 2&lt;/li&gt;<br>
    &lt;li&gt;example 3&lt;/li&gt;<br>
    &lt;/ol&gt;
  </div>

  <p>You can add an indefinite amount of new elements at the same time with <strong>append()</strong> and <strong>prepand()</strong>. Both methods can take an indefinite amount of paramenters, like this:</p>

  <div class="code">
    $("ol").append("&lt;li&gt;example1&lt;/li&gt;", "&lt;li&gt;example&lt;/li&gt;", "&lt;li&gt;example&lt;/li&gt;");</div>

  <p>Here are some examples of <strong>after()</strong> and <strong>before()</strong>. Be careful with the differences between <strong>append()</strong> and <strong>prepend()</strong>. </p>

  <div class="code">
    HTML:<br>
    &lt;p&gt;This is a example.&lt;/p&gt;<br>
    jQuery:<br>
    $("p").after("&lt;b&gt;Before&lt;/b&gt;");<br>
    $("p").before("&lt;i&gt;After&lt;/i&gt;"); </div>

  <p>Here is the result:</p>

  <div class="code">&lt;b&gt;Before&lt;/b&gt;&lt;p&gt;This is a example.&lt;/p&gt;&lt;i&gt;After&lt;/i&gt;</div>

  <p>Just like <strong>append()</strong> and <strong>prepend()</strong>, you can add indefinite amount of new elements at the same time. </p>

  <div class="code">$("p").after("&lt;b&gt;example1&lt;/b&gt;","&lt;b&gt;example2&lt;/b&gt;","&lt;b&gt;example3&lt;/b&gt;");</div>

  <h3>Remove Content: remove() and empty()</h3>

  <p>Here are two jQuery methods to remove content:  </p>

  <ul class = "withBullets">
    <li><strong>remove()</strong> - Removes the selected element and its child elements</li>
    <li><strong>empty()</strong> - Removes the child elements from the selected element</li>
  </ul>

  <p>Here is an example of <strong>remove()</strong>:</p>

  <div class="code">
  HTML:<br>
  &lt;div&gt;This is the parent element.<br>
  &lt;p&gt;This is a child element in the div.&lt;/p&gt;<br>
  &lt;p&gt;This is another child element in the div.&lt;/p&gt;<br>
  &lt;/div&gt;<br>
  jQuery:<br>
  $("div").remove(); <span class="comment">// Resulting in an empty document</span>
</div>

  <p>Here is an example of <strong>empty()</strong>:</p>

  <div class="code">
    &lt;div&gt;This is the parent element.<br>
    &lt;p&gt;This is a child element in the div.&lt;/p&gt;<br>
    &lt;p&gt;This is another child element in the div.&lt;/p&gt;<br>
    &lt;/div&gt;<br>
    jQuery:<br>
    $("div").empty();
  </div>

  <p>Note: the first example will remove everything including <span class="code">&lt;div&gt;</span>. However, the second example will not remove the <span class="code">&ltdiv&gt</span>, but will remove <span class="code">&lt;p&gt;</span> and the text following the <span class="code">&lt;div&gt;</span> tag. Make sure to exercise caution when using these methods, as the naming convention can be a bit confusing. </p>

  <p>The <strong>remove()</strong> method can also be used as a filter. You can put any selector syntax as the paramenters for <strong>remove()</strong> and <strong>remove()</strong> will remove any elemnents chosen by the selector. </p>

  <p>Here is an example:</p>

  <div class="code">$("p").remove(".test");</div>

  <p>This example removes all <span class="code">&lt;p&gt;</span> elements with <span class="code">class="test"</span>.</p>

  <h3>Get and Set the CSS: css()</h3>

  <p>Note: It is recommended to run the examples in this section in <a href="https://jsfiddle.net/">jsFiddle</a><br>jQuery provides <strong>css()</strong> to set and return the specificed CSS property of selected elements.<br>
    The following syntax is used to return CSS properties:<br>
    <span class="code">
      css("propertyname");
    </span><br>
    Here is an example:</p>

  <div class="code">
    HTML:<br>
    &lt;p style="background-color:#ff0000"&gt;This is a example.&lt;/p&gt;<br>
    jQuery:<br>
    $("p").css("background-color");</div>

  <p>This will return <span class="code">(255,0,0)</span>.</p>

  <p>To set the CSS properties of selected elements, use the following syntax:<br>
    <span class="code">
      css("propertyname","value");
    </span>
    Here is a example:</p>

  <div class="code">
    HTML:<br>
    &lt;p style="background-color:#ff0000"&gt;This is a example.&lt;/p&gt;<br>
    jQuery:<br>
    $("p").css("background-color", "yellow");</div>

  <p>This will set the background color of all <span class="code">&lt;p&gt;</span>to yellow. </p>

  <h3>Depths of Writing</h3>
  <p>I wrote in 5 levels of depth of knowledge. I showed knowledge by defining the methods that modify DOM. I showed comprehension by describing the methods in my own words.  I also showed application by demonstrating useful applications of the methods. I showed analysis by summarizing some of the examples. Finally, I showed synthesis by constructing these examples. I however couldn't show evaluation because I couldn't find a topic where I needed to show what was most optimal/rank.  </p>
  </body>
</div>
